STORAGE_BACKEND=minio
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_REGION=us-east-1
MINIO_LANDING_BUCKET=planejamento-landing
MINIO_RAW_BUCKET=planejamento-raw
MINIO_INTEGRATION_BUCKET=planejamento-integration
MINIO_BUSINESS_BUCKET=planejamento-business
