STORAGE_BACKEND=s3
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_SESSION_TOKEN=
S3_LANDING_BUCKET=cdl-planejamentocaixa-sa-east-1-123456789012-prod-landing
S3_RAW_BUCKET=cdl-planejamentocaixa-sa-east-1-123456789012-prod-raw
S3_INTEGRATION_BUCKET=cdl-planejamentocaixa-sa-east-1-123456789012-prod-integration
S3_BUSINESS_BUCKET=cdl-planejamentocaixa-sa-east-1-123456789012-prod-business
